<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @cloudies.each do |cloudy| %>
    <div class="content_post" style="background-image: url(<%= cloudy.image %>);">
      <p><%= cloudy.text %></p>
    </div>
  <% end %>
</div>